/*  Navbar */
#nav_bar{
    display: flex;
    justify-content: space-evenly;
    background: rgb(255,186,60);
    background: linear-gradient(90deg, rgba(255,186,60,1) 0%, rgba(244,164,28,1) 48%, rgba(255,197,75,1) 100%);
    padding: 0px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}
p {
    color: white;
    font-size: 36px;
    text-align: center;
}
h1 {
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    width: 160px;
    font-size: 22px;
}
body {
  background: rgb(98,93,93);
  font-family: Sectar;
  background: linear-gradient(90deg, rgba(98,93,93,1) 0%, rgba(77,69,69,1) 64%, rgba(94,87,87,1) 100%);
}
#description {
  background-color: rgb(98,93,93);
  color: black;
  border-radius: 20px;
  padding: 10px;
  background: linear-gradient(90deg, rgba(98,93,93,1) 0%, rgba(77,69,69,1) 64%, rgba(94,87,87,1) 100%);
}
}
#desp {
  color: black;
}

/* THIS IS THE TEAM DIV */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* Three columns side by side */
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.title {
  color: grey;
}

.logo h1 {
  margin-top: 00px; 
  font-size: 1px;
}

.logo {
  display: flex;
  justify-content: center;
}
#logos {
  padding: 0;
  margin: 20px;;
  width: 150px;
  height: 150px;
}

.column img {
  border-radius: 50%;
  width: 600px;
  height: 350px;
  display: flex;
  justify-content: center;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}